In [5]:
import pandas as pd # 데이터 분석용 lib
import numpy as np  # 수치 계산용 lib

myIndex = ['이순신' ,'김유신', '강감찬', '광해군', '연산군']
myColumns = ['서울', '부산', '광주', '목포', '경주']
mylist = list(10 * onedata for onedata in range(1, 26))
print(mylist)

myframe = pd.DataFrame(np.reshape(mylist, (5, 5)), index = myIndex, columns = myColumns)
print(myframe)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]
      서울   부산   광주   목포   경주
이순신   10   20   30   40   50
김유신   60   70   80   90  100
강감찬  110  120  130  140  150
광해군  160  170  180  190  200
연산군  210  220  230  240  250